.container {
    margin-bottom: 36px;

    @media screen and (min-width: 768px) {
        margin-bottom: 100px;
    }
}

.titleContainer {
    position: relative;

    @media screen and (min-width: 768px) {
        display: flex;
        justify-content: space-between;
        margin-bottom: 32px;
    }
    @media screen and (min-width: 1280px) {
        margin-bottom: 114px;
    }
}

.title {
    margin-bottom: 24px;
    color: #173d33;
    font-size: 28px;
    font-weight: 400;
    text-transform: uppercase;

    @media screen and (min-width: 768px) {
        font-size: 36px;
        max-width: 264px;
        margin-bottom: 0;
    }
    @media screen and (min-width: 1280px) {
        font-size: 48px;
        max-width: 398px;
    }
}

.verticalLine {
    @media screen and (min-width: 768px) {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        height: 65px;
        width: 1px;
        background-color: #97d28b;
    }
}

.slideNavigation {
    margin-bottom: 19px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;

    @media screen and (min-width: 768px) {
        width: 49%;
        margin-left: 8px;
    }
}

.slideCurrentText {
    color: #173d33;
    font-size: 28px;
    font-weight: 300;
    letter-spacing: -1.12px;
}

.totalSlides {
    color: rgba(23, 61, 51, 0.25);
    font-size: 28px;
    font-weight: 300;
    letter-spacing: -1.12px;
}

.slideBtns {
    display: flex;
    gap: 12px;
}

.slideBtn {
    padding: 15px;
    border-radius: 100px;
    border: 1px solid #173d33;
    width: 66px;
    height: 66px;

    svg {
        stroke: #173d33;
    }

    &:hover {
        border: 1px solid #97d28b;

        svg {
            stroke: #97d28b;
        }
    }

    @media screen and (min-width: 1280px) {
        width: 84px;
        height: 84px;
    }
}

.list {
    @media screen and (min-width: 768px) {
        margin-right: -24px;
    }
    @media screen and (min-width: 1280px) {
        margin-right: -48px;
    }
}
