.container {
    margin-top: 186px;
    margin-bottom: 36px;

    @media screen and (min-width: 768px) {
        margin-top: 204px;
        margin-bottom: 100px;
    }

    @media screen and (min-width: 768px) {
        margin-top: 244px;
        margin-bottom: 120px;
    }
}

.descContainer {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
        'title'
        'desc'
        'button';
    gap: 24px;

    @media (min-width: 768px) {
        grid-template-columns: 1fr 1fr;
        grid-template-areas:
            'title desc'
            'title button';
    }
}

.title {
    grid-area: title;
    color: #173d33;
    font-size: 36px;
    font-weight: 400;
    text-transform: uppercase;

    @media screen and (min-width: 768px) {
        font-size: 48px;
        max-width: 300px;
    }

    @media screen and (min-width: 768px) {
        font-size: 64px;
        max-width: 485px;
    }
}

.desc {
    grid-area: desc;
    color: #173d33;
    font-size: 16px;
    letter-spacing: -0.64px;
}

.line {
    margin: 24px 0;
    width: 100%;
    height: 1px;
    background-color: #97d28b;

    @media screen and (min-width: 768px) {
        margin: 24px 0 16px;
    }

    @media screen and (min-width: 1280px) {
        margin: 24px 0 12px;
    }
}

.address {
    margin-bottom: 36px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    width: 100%;

    @media screen and (min-width: 768px) {
        flex-direction: row;
        justify-content: space-between;
        margin-bottom: 40px;
    }
}

.addressText {
    color: #173d33;
    font-size: 16px;
    letter-spacing: -0.64px;
}

.mail {
    color: #173d33;
    letter-spacing: -0.64px;
}

.copyright {
    @media screen and (max-width: 768px) {
        display: none;
    }
}

.heroImage {
    object-fit: cover;
    width: 100%;
    min-height: 200px;

    @media screen and (min-width: 768px) {
        min-height: 348px;
    }

    @media screen and (min-width: 1280px) {
    }
}
