.container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 480px;
    margin-bottom: 36px;

    @media screen and (min-width: 768px) {
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
        max-width: 768px;
        margin-bottom: 75px;
    }

    @media screen and (min-width: 1280px) {
        max-width: 1280px;
    }
}

.title {
    margin-bottom: 24px;
    color: #173d33;
    font-family: Oswald;
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    text-transform: uppercase;

    @media screen and (min-width: 768px) {
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
        max-width: 768px;
        margin: 0;
    }
    @media screen and (min-width: 1280px) {
        font-size: 48px;
        line-height: 48px;
        width: 485px;
    }
}

.descContainer {
    display: inline-flex;
}

.verticalLine {
    margin-right: 11px;
    display: none;
    height: 110px;
    width: 1px;
    transform: translateX(-50%);
    border: 1px solid #97d28b;

    @media screen and (min-width: 768px) {
        display: block;
    }
}

.desc {
    color: #173d33;
    font-family: Fira Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.64px;

    @media screen and (min-width: 768px) {
        max-width: 340px;
    }
    @media screen and (min-width: 1280px) {
        max-width: 460px;
    }
}
