.buttonWithText {
    display: flex;
    height: 39px;
    justify-content: center;
    align-items: center;
    gap: 12px;
    border-radius: 500px;
    font-size: 16px;
    letter-spacing: -0.64px;
    color: #173d33;

    &.lightBtn {
        margin: 0 auto;
        border: 1px solid #97d28b;
        line-height: 18px;
        padding: 4px 4px 4px 16px;

        &:hover {
            color: #97d28b;
            background: #173d33;
            border: 1px solid #173d33;
        }
    }

    &.contactsBtn {
        background: #97d28b;
        padding: 10px 16px;

        svg {
            fill: #173d33;
        }

        &:hover {
            background: #173d33;
            color: #97d28b;
            svg {
                fill: #97d28b;
            }
        }
    }
}
