.container {
    margin-bottom: 36px;

    @media screen and (min-width: 768px) {
        margin-bottom: 100px;
    }

    @media screen and (min-width: 1280px) {
        margin-bottom: 120px;
    }
}

.title {
    margin: 0 auto;
    margin-bottom: 24px;
    color: #173d33;
    text-align: center;
    font-size: 28px;
    font-weight: 400;
    text-transform: uppercase;
    max-width: 290px;

    @media screen and (min-width: 768px) {
        font-size: 36px;
        max-width: 370px;
    }

    @media screen and (min-width: 1280px) {
        margin-bottom: 16px;
    }
}

.verticalLine {
    display: flex;
    margin: 0 auto 24px;
    width: 1px;
    height: 48px;
    background-color: #97d28b;

    @media screen and (min-width: 1280px) {
        margin: 0 auto 16px;
    }
}

.counterContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.counter {
    margin-right: 8px;
    color: #97d28b;
    text-align: center;
    font-size: 48px;
    font-weight: 700;
    text-transform: uppercase;
    font-family: Oswald;
    line-height: 1;

    @media screen and (min-width: 768px) {
        font-size: 100px;
        margin-right: 24px;
    }

    @media screen and (min-width: 1280px) {
        font-size: 164px;
    }
}

.counterValue {
    color: #173d33;
    font-family: Oswald;
    font-size: 24px;

    @media screen and (min-width: 768px) {
        font-size: 28px;
        line-height: 1.7;
    }
    @media screen and (min-width: 1280px) {
        font-size: 48px;
        line-height: 1;
    }
}
