.logoContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title {
    margin-right: 4px;
    color: #173d33;
    font-family: FONTSPRING DEMO - All Round Gothic Thick;
    font-size: 33px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: -1.32px;
}

.subTitle {
    color: #173d33;
    font-family: CA Saygon Text;
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: 9px;
    letter-spacing: -0.4px;
    text-transform: uppercase;
    width: 60px;
}

.accent {
    color: #97d28b;
    font-family: CA Saygon Text;
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: 9px; /* 90% */
    letter-spacing: -0.4px;
}
