.logoLink {
    display: flex;
    align-items: center;
    height: 40px;

    &:hover {
        .title {
            color: #97d28b;
        }
    }
}

.title {
    margin: 0 4px;
    color: #173d33;
    font-family: Oswald;
    font-size: 33px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: -1.32px;
}

.subTitle {
    color: #173d33;
    font-family: Fira Sans;
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: 9px;
    letter-spacing: -0.4px;
    text-transform: uppercase;
    width: 60px;
}

.accent {
    color: #97d28b;
    font-family: Fira Sans;
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: 9px;
    letter-spacing: -0.4px;
}
