.header {
    position: fixed;
    width: 100%;
    z-index: 100;

    &.scrolledHeader {
        background: #fff;
    }
}

.headerContainer {
    display: flex;
    margin: 0 auto;
    max-width: 480px;
    justify-content: space-between;
    padding: 36px 20px;
}

.burgerBtn {
    width: 40px;
    height: 39px;
    padding: 4px 12px;
    border-radius: 500px;
    background: #dcefd8;

    &:hover {
        background: #97d28b;
    }
}
